<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">

    <title>Dylan Blues:Highway 51</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../docs-assets/js/html5shiv.js"></script>
      <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">Super-T Blues</a>
        </div>
        <div class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container sub">

      <div class="boilerplate-template">
        <h3>Little Suzie Wakes Up on Highway 51</h3>
        <div>
          <span class="glyphicon glyphicon-music"></span>  
          <a href="spotify:user:sigmonky:playlist:2aL3coOLe7jMoyGkBl1Aff">Full playlist on Spotify</a>
        </div>
        <div> 
         
          Highway 51 was a popular topic in blues recordings made in the earlier half of last century. It's a dark path travelled by a forlorn narrator in a do-or-die search for a departed sweetheart. Dylan's excursion down this forsaken 
          road exhibits both blues and rockabilly influences, drawing most of its lyric content from bluesman Tommy McLennan's "New Highway 51 Blues" and its musical arrangment from the Everly Brothers' "Wake Up Little Suzy".


        </div>
        
        <h4>Playlist Song By Song</h5>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Bob Dylan -- Highway 51 Blues 
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                  <div>
                    <span class="glyphicon glyphicon-music"></span>                  
                    <a href="spotify:track:6wrEYf9IyrjaLccRBhrsCO">Play "Highway 51 Blues" on Spotify</a>
                  </div>
                  <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                      <li><a href="#lyrics"data-toggle="tab">Lyrics</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="info">
                        <p>
                          Borrowing one from the Elvis Presley playbook, Dylan takes a delta blues tune and gives it a fernetic rockabilly makeover sans backing combo. Just as Presley transformed Arthur Crudup's "That's Alright,Mama" on his debut recording session, Dylan applies an analogous process to his source material here. The guitar part sounds like a sped-up version of the one heard on the Everly Brothers hit "Wake Up Little Susie" and perhaps served as a groove template for his later classic, "That's Alright Ma, I'm Only Bleeding".
                        </p>
                        <p>
                          In an earnest,resourceful effort to sound like anything but a middle-class Jewish kid from Minnesota, Dylan tries out a smorgasbord of "roots" vocal stylings -- okie twang, Delta growl, etc. -- and fashions a mashup that effectively serves the lyrics after all.
                        </p>
                        <p>
                          In addition to the verses 1 and 3 taken from Tommy McClennan's "New Highway 51" recorded in 19xx for the Bluebird Label, verse 2 is an apparent Dylan original that is idiomatic,deft and loosely autobiographical.
                          This verse evidences Dylan's precocious appreciation for the haiku-like semantics and jagged,assymetrical phrasing characteristic of blues lyrics. It is an open question why Curtis Jones was given songwriting credits: his doomy,elegant "Highway 51 Blues" bears no resemblance to the Dylan version.
                        </p>
                        
                        <p>
                         Like solo,rural blues performers, Dylan dispenses with the strictures of the conventional 12-bar, 4/4 blues form, opting for a fluid conversation between voice and guitar. His barrel down Highway 51 maintains the groove and respects the common AAB blues lyric form but ignores all traffic lights and sometimes weaves into the opposite lane.
                       </p>
                      </div>
                      <div class="tab-pane" id="lyrics">
                       Lyrics
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div> <!-- end /accordion -->
      </div><!-- /.starter-template -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script>
      $("#play1").on("click",function(){
        $(this).html("Pause from Application");

      });
    </script>
  </body>
</html>
