<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">

    <title>Dylan Blues:Highway 51</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../docs-assets/js/html5shiv.js"></script>
      <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">Super-T Blues</a>
        </div>
        <div class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container sub">

      <div class="boilerplate-template">
        <h3>Little Suzie Wakes Up on Highway 51</h3>
        <div class="txtFormat">
          <span class="glyphicon glyphicon-music"></span>  
          <a href="spotify:user:sigmonky:playlist:2aL3coOLe7jMoyGkBl1Aff">Full playlist on Spotify</a>
        </div>
        <div class="txtFormat"> 
         
          Highway 51 was a popular topic in blues recordings made in the earlier half of last century. It's a dark path travelled by a forlorn narrator in a do-or-die search for a departed love interest. As this playlist demonstrates, blues singers drew from a common stock of verses, phrases, and sub-themes and brought novel contributions to the subject as well. Dylan's take integrates blues and rockabilly influences and possibly contributes one original verse.


        </div>
        
        <h4>Playlist Song By Song</h5>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Bob Dylan -- Highway 51 Blues 
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                  <div>
                    <span class="glyphicon glyphicon-music"></span>                  
                    <a href="spotify:track:6wrEYf9IyrjaLccRBhrsCO">Play "Highway 51 Blues" on Spotify</a>
                  </div>
                  <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                      <li><a href="#lyrics"data-toggle="tab">Lyrics</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="info">
                        <p class="txtFormat">
                          Though steeped in folk music from his early years,Dylan never abandoned his enthusiasm for r&b and rock-n-roll. His debut record appeared only a few years after his scandalous Little Richard-inspired talent show appearance back in Hibbing, perhaps the first rock performance where an instrument was destroyed on stage. And as early Dylan champion Robert Shelton notes:
                        </p>
                        <div class="well">
                          <em>
                           In his first year around the Village, Dylan insisted he was a country or rockabilly singer, or just a singer— but not a folk singer. “Highway 51” may be the first folk-rock recording, even without electric instruments or rhythm...here are all the elements of folk-rock without electrification.
                          </em>
                        </div>
                        <p class="txtFormat">
                          Borrowing one from the Elvis Presley playbook, Dylan takes a delta blues tune and gives it a  rockabilly makeover but sans backing combo. Presley's approach to <a href="spotify:track:5IM3mYyWYsKUSukMGYYq1U">Arthur Crudup's "That's Alright,Mama" </a>on his <a href="spotify:track:4O958xeV2blAhD95Qo24nc">legender Sun Records debut session</a> is significantly different from Dylan's re-paving of Highway 51 here. Where Presley's interpretation simmers, Dylan's boils over. The guitar part sounds like a sped-up version of the one heard on the Everly Brothers hit "Wake Up Little Susie" and perhaps served as a groove template for his later classic, "That's Alright Ma, I'm Only Bleeding".

                        <p class="txtFormat">
                          In an earnest,resourceful effort to sound like anything but a middle-class Jewish kid from Minnesota, Dylan tries out a smorgasbord of "roots" vocal stylings -- okie twang, Delta growl, etc. -- and fashions a mashup that demonstrates impeccable breath control and full attention to the lyrics. Whether deliberate or happenstance, he's not so much imitiating his vocal precedents as deriving something original that suits both his technical capabilities and storytelling objectives.
                        </p>
                        <p class="txtFormat">
                          Dylan may have gotten verses 1 and 3 from Tommy McClennan's "New Highway 51" recorded in 1940 for the Bluebird Label, but these could also have been open source verses circulating in the early 60's Greenwich Village folk scene. Verse 2 is an apparent Dylan original that is idiomatic,deft and loosely autobiographical:Wisconsin borders Minnesota and is actually the northern terminus of Highway 51. It also has one less syllable than Dylan's home state, which works better musically here. His juxtaposition of the concrete and literal -- Wisconsin --  with the metaphorical  -- no man's land -- in describing the Highway's expanse is perhaps the earliest example of lyric Dylanese. It's an open question why Curtis Jones was given songwriting credits on the album: his doomy,elegant "Highway 51 Blues" bears no discernible resemblance to the Dylan version.
                        </p>
                        
                        <p class="txtFormat">
                         Like many solo,rural blues performances, Dylan takes significant liberties with the conventional 12-bar, 4/4 blues form, opting for a fluid conversation between voice and guitar. So fluid in fact that Dylan completely ignores the 12-bar form;the performance in no way suffers and instead achieves an organic unity. His hurtling joyride  down Highway 51 however does consistently follow the common AAB blues lyric form. Dylan pares down the chord progression to I-IV-I-V-I in all verses. While sticking to the progression,chord changes happen at will, ignore all traffic lights and occassionally weave into the opposite lane.
                       </p>
                      </div>
                      <div class="tab-pane" id="lyrics">
                       Lyrics
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                 Tommy McClennan -- New 51 Highway Blues
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-music"></span>                  
                    <a href="spotify:track:0p5eQH84KOD7h9qwVtvoLf">Play "New Highway 51" on Spotify</a>
                </div>

                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#info2" data-toggle="tab">Info</a></li>
                    <li><a href="#lyrics2"data-toggle="tab">Lyrics</a></li>
                    <li><a href="#bio2"data-toggle="tab">Bio</a></li>
                    <li><a href="#playlists2"data-toggle="tab">Playlists</a></li>
                    <li><a href="#videos2"data-toggle="tab">Videos</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="info2">
                      <p class="txtFormat">
                        Dylan could well have taken verses 1 and 2 from this recording made by McLennan and an unknown upright bass player on May 10, 1940 in Chicago for the Bluebird label. It's doubtful this recoding was available on LP in '62 but Dylan could have heard it on a 78. McLennan's version considers travel by Greyhound bus down Highway 51, indicates that the narrator -- like his woman -- lives on Highway 51, and has a lover buying him a V-8 Ford so that he can get to the Greyhound bus headed down the storied road. 
                      </p>
                      <p class="txtFormat">
                        McLennan's  "Greyhound Bus" verse (#3 ) is noteworthy for its artful synecdoche describing the iconic bus company logo -- a "tongue sticking on the side" -- that compactly symbolizes the singer's panting urgency to get to his woman. The verse also smartly plays with the common blues theme of a narrator unable to pay for bus or train fare. By witholding his financial status, McLennan ambiguates both his ability to pay and the identity of the person saying "If you buy your ticket/Swear 'fore God, that man'll let you ride". In conventional renderings of the theme, the narrator asks for a free ride and the driver or engineer refuses him. Given these very "Dylanesque" ingenuities, it's kind of surprising he didn't cop the verse. Maybe Dylan didn't hear this record after all.....
                      </p>
                      <p class="txtFormat">
                        The performance features McLennan's powerful gravelly voice complemented by a guitar style that alternates insistent, quarter-beat, strumming with razor-sharp finger-picking arabesques. It grooves convincingly at a tempo considerably slower than Dylan's rockabilly joyride. McClennan uses the conventional 12-bar blues form as a reference point but isn't bound to it. The lively dialog between voice and guitar benefits greatly from this elastic approach to song form and the bass player manages to hang in. 
                      </p>
                    </div>
                    <div class="tab-pane" id="lyrics2">
                     Lyrics
                    </div>
                    <div class="tab-pane" id="bio2">
                     bio
                    </div>
                    <div class="tab-pane" id="playlists2">
                     
                    </div>
                    <div class="tab-pane" id="videos2">
                     videos
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Everly Brothers -- Wake Up Little Suzie
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-music"></span>    

                    <a href="spotify:track:11fNLqDB47gMKj7BHhR2Qr">Play "Wake Up Little Susie" on Spotify</a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end /accordion -->
      </div><!-- /.starter-template -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script>
      $(function() {
 

        
        
        PlaylistView = Backbone.View.extend({
          tagName:'div',
            id: 'playlistContainer',
            initialize:function(){

              PlaylistFetchModel = Backbone.Model.extend({url:"http://developer.echonest.com/api/v4/playlist/static?api_key=PZ4LKPTF5EEUFUVKM&format=json&results=100&artist=Tommy+McClennan&bucket=id%3Aspotify-WW&bucket=tracks&limit=true"});

        Track = Backbone.Model.extend({
              defaults: {
                  uri: 'spotify uri',
                  title: 'song title',
              }
          });

        playlistFetchModel = new PlaylistFetchModel();

        Playlist = Backbone.Collection.extend({model:Track})
        
        playlist = new Playlist();
              var thisView = this;
              playlist.listenTo(playlistFetchModel,"change", function() {
                        var songs = playlistFetchModel.toJSON().response.songs;
                        for (var i = 0; i < songs.length; i++) {
                          var song = songs[i];
                          var uri = song.tracks[0].foreign_id.replace('-WW', '')
                          var title = song.title;
                          var track = new Track({uri:uri,title:title});
                          this.add(track);
                        }
                        thisView.render();
            });

            playlistFetchModel.fetch();

            },
            render: function( event ){
              var tracks = playlist.toJSON();

              tracks.sort(function(a, b){
                if(a.title < b.title) return -1;
                if(a.title > b.title) return 1;
                return 0;
            });

              for (var i=0; i < tracks.length; i++) {
                this.$el
                  .append("<div class='track'><a href='" + tracks[i].uri + "'>" + tracks[i].title + "</div>");
              }
                
                $(this.options.container).append(this.$el);
                return this; //recommended as this enables calls to be chained.
            }
            
        });

        
        
      });


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
           console.log(PlaylistView);
           if ($(e.target).html() == "Playlists") {
            playlistView = new PlaylistView({container:"#playlists2"});
           }
           
        });
    </script>
  </body>
</html>
