<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">

    <title>Dylan Blues:Highway 51</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../docs-assets/js/html5shiv.js"></script>
      <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">Super-T Blues</a>
        </div>
        <div class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container sub">

      <div class="boilerplate-template">
        <h3>Little Suzie Wakes Up on Highway 51</h3>
        <div class="txtFormat">
          <span class="glyphicon glyphicon-music"></span>  
          <a href="spotify:user:sigmonky:playlist:2aL3coOLe7jMoyGkBl1Aff">Full playlist on Spotify</a>
        </div>
        <div class="txtFormat"> 
          
          <p>
          Several blues recordings about Highway 51 had been released by the time Dylan covered the topic. Each performer in this playlist sings different lyrics and plays different musical arrangements to realize three recurring motifs: unrequited pursuit of a departed lover, means of travel, and death.
          </p>
          <p>
          On his "Highway 51",Dylan integrates blues and rockabilly influences and possibly contributes one original verse . The song was included on his '62 debut Columbia album simply titled "Bob Dylan". This freshman effort is mostly a collection of rugged, idiosyncratic interpretations of traditional blues and American folk songs and is a likeable,if not fully-baked, harbinger of the "old weird America" in new bottles Dylan would pour from for years to come.
          </p>
        </div>
        
        <h4>Playlist Song By Song</h5>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Bob Dylan -- Highway 51 Blues 
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                  <div>
                    <span class="glyphicon glyphicon-music"></span>                  
                    <a href="spotify:track:6wrEYf9IyrjaLccRBhrsCO">Play "Highway 51 Blues" on Spotify</a>
                  </div>
                  <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                      <li><a href="#lyrics"data-toggle="tab">Lyrics</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="info">
                        <p class="txtFormat">
                          <h3>Overview</h3>
                          Though steeped in folk music from his late teens,Dylan never entirely lost interest in r&b and rock-n-roll. His debut record came out a few years after his scandalous Little Richard-inspired Hibbing High talent show gig, perhaps the first rock performance where an instrument was destroyed on stage. As early Dylan champion Robert Shelton notes:
                        </p>
                        <div class="well">
                          <em>
                           "In his first year around the Village (i.e. Greenwich Village in Manhattan), Dylan insisted he was a country or rockabilly singer, or just a singer— but not a folk singer. “Highway 51” may be the first folk-rock recording, even without electric instruments or rhythm section...here are all the elements of folk-rock without electrification."
                          </em>
                        </div>
                        <h3>General Approach</h3>
                        <div class="txtFormat">
                          Adapting one from the Elvis Presley playbook, Dylan takes a Mississippi delta blues tune and gives it a nervous rockabilly makeover. Presley's approach to <a href="spotify:track:5IM3mYyWYsKUSukMGYYq1U">Arthur Crudup's "That's Alright,Mama" </a>on his <a href="spotify:track:4O958xeV2blAhD95Qo24nc">legendary Sun Records debut session</a> is significantly different from Dylan's re-paving of Highway 51 here. Where Presley's interpretation simmers, Dylan's boils over. The guitar part sounds like a sped-up version of the opening guitar riff heard on the Everly Brothers '57 hit "Wake Up Little Susie" (and perhaps served as a groove template for the Dylan original "That's Alright Ma, I'm Only Bleeding").
                        </div>
                         <h3>The voice</h3>
                        <div class="txtFormat">
                          In an earnest,resourceful effort to come to terms with his varied influences, Dylan combines blues raspiness and an indeterminate hillbilly drawl and it works pretty well. Whether deliberate or happenstance, he's not so much imitiating his vocal precedents as shaping something original that suits both his idiosyncratic chops and emergent storytelling pyrotechnics.
                        </div>
                         <h3>The Lyrics</h3>
                        <div class="txtFormat">
                          <p>Dylan may have gotten verses 1 and 3 from Tommy McClennan's "New Highway 51" recorded in 1940 for the Bluebird Label, but these could also have been open source material circulating in the early 60's Greenwich Village folk scene. They're definitely not original. Verse 2,on the other hand,is either really obscure or a Dylan original that is idiomatic,deft and loosely autobiographical:
                          </p>
                          <p class="well">
                            <em>
                              Well, I know that highway like I know my hand<br/>
                              Yes, I know that highway like I know the back of my hand<br/>
                              Running from up Wisconsin way down to no man's land.
                            </em>
                          </p>
                          <p>
                          Wisconsin borders Minnesota and is actually the northern terminus of Highway 51. It also has one less syllable than Dylan's home state, which works better musically here. 
                          </p>
                          <p>
                          From a compositional standpoint, verse 2 nicely bridges verses 1 and 3. In verse 1, Dylan acknowledges he knows where his woman is and skepticism about finding her. Verse 2 informs the listener that he is fully familiar with the road but its terminus in "No Man's Land" emphasizes his anxiety that the pursuit will end badly. Verse 3 has him considering death and burial on Highway 51 should his search prove unsuccessful. A grave site with indeterminate proximity to his unrequited love interest is likely as close as he'll get to her.
                          </p>
                          <p>
                          It's an open question why Curtis Jones was given songwriting credits on Dylan's debut album: Jones's doomy,elegant "Highway 51 Blues" bears no obvious resemblance to the Dylan version in either performance style or lyric content.
                        </p>
                        </div>
                         <h3>Musical Form and Performance Characteristics</h3>
                        <div class="txtFormat">
                         
                         <p>
                          Dylan explicitly covers pursuit and death in his lyrics but omits means of travel. Instead, the guitar part effectively suggests the sound of a revving combustion engine sans muffler to dampen its roar and becomes both proxy vehicle (a triumph spitfire perhaps) and background chorus. I hear no discernible attempt at labored impersonation of a delta blues-styled accompaniment.
                        </p>
                         <p>
                         Where Dylan does emulate rural blues influences is in his approach to song structure:he ignores the conventional 12-bar, 4/4 blues form, opting for a fluid conversation between voice and guitar. His hurtling joyride  down Highway 51 however does consistently follow the common AAB blues lyric form, end-rhymes and all. Dylan pares down the chord progression to I-IV-I-V-I in all verses. While sticking to the progression in every verse,chord changes happen at will, ignore all traffic lights and occassionally weave into the opposite lane.
                       </p>
                       </div>
                      </div>
                      <div class="tab-pane" id="lyrics">
                       Lyrics
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                 Tommy McClennan -- New 51 Highway Blues
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-music"></span>                  
                    <a href="spotify:track:0p5eQH84KOD7h9qwVtvoLf">Play "New Highway 51" on Spotify</a>
                </div>

                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#info2" data-toggle="tab">Info</a></li>
                    <li><a href="#lyrics2"data-toggle="tab">Lyrics</a></li>
                    <li><a href="#bio2"data-toggle="tab">Bio</a></li>
                    <li><a href="#playlists2"data-toggle="tab">Playlists</a></li>
                    <li><a href="#videos2"data-toggle="tab">Videos</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="info2">
                      <p class="txtFormat">
                        NOTE:address all motifs
                        Dylan could have taken verses 1 and 2 from this recording made by McLennan and an unknown upright bass player on May 10, 1940 in Chicago for the Bluebird label. It's possible that it was available on LP in '62  or Dylan could have heard it on a 78. If he did hear it, he was no doubt impressed: it's a killer.
                      </p>
                      <p class="txtFormat">
                        McLennan's  "Greyhound Bus" verse (#3 ) is noteworthy for its artful synecdoche describing the iconic bus company logo -- a "tongue sticking on the side" -- that compactly symbolizes the singer's panting urgency to get to his woman. It's unclear who is singing the B line and to whom it is addressed:"If you buy your ticket/Swear 'fore God, that man'll let you ride". Is it the singer addressing the listener or a ticket agent addressing the singer? It also manages to suggest that the singer can't afford the fare -- a frequent topic in blues lyrics. Given these very "Dylanesque" ingenuities, it's kind of surprising Bob didn't cop the verse for his version. Maybe he didn't hear this record after all.....
                      </p>
                      <p class="txtFormat">
                        The performance features McLennan's powerful gravelly voice complemented by a percussive guitar style that alternates insistent, quarter-beat, strumming with razor-sharp single-note arabesques. It grooves convincingly at a tempo considerably slower than Dylan's rockabilly joyride. McClennan uses the conventional 12-bar blues form as a reference point but isn't bound to it. The lively dialog between voice and guitar benefits greatly from this elastic approach to song form and the bass player manages to hang in. 
                      </p>
                    </div>
                    <div class="tab-pane" id="lyrics2">
                     Lyrics
                    </div>
                    <div class="tab-pane" id="bio2">
                     bio
                    </div>
                    <div class="tab-pane" id="playlists2">
                       <p>
                        <button type="button" data-artist="Tommy McClennan" class="btn btn-primary btn-sm playListArtist">Artist Playlist</button>
                        <button type="button" data-artist="Tommy McClennan" class="btn btn-primary btn-sm playListRadio">'Radio Playlist'</button>
                      </p>
                      <div id="playlist2"></div>
                    </div>
                    <div class="tab-pane" id="videos2">
                     videos
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Everly Brothers -- Wake Up Little Suzie
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-music"></span>    

                    <a href="spotify:track:11fNLqDB47gMKj7BHhR2Qr">Play "Wake Up Little Susie" on Spotify</a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end /accordion -->
      </div><!-- /.starter-template -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script>
      $(function() {
 

        
        
        PlaylistView = Backbone.View.extend({
          tagName:'div',
            id: 'playlistContainer',
            initialize:function(){

              var playlistURL;

              switch (this.options.type) {
                case "artist-radio":
                  playlistURL = "http://developer.echonest.com/api/v4/playlist/basic?api_key=PZ4LKPTF5EEUFUVKM&artist=" + this.options.artist +"&format=json&results=100&type=" + this.options.type + "&bucket=id%3Aspotify-WW&bucket=tracks";
                  break;


              }
              //var playlistURL = "http://developer.echonest.com/api/v4/playlist/static?api_key=PZ4LKPTF5EEUFUVKM&format=json&results=100&artist=Tommy+McClennan&bucket=id%3Aspotify-WW&bucket=tracks&limit=true";

              PlaylistFetchModel = Backbone.Model.extend({url:playlistURL});

        Track = Backbone.Model.extend({
              defaults: {
                  uri: 'spotify uri',
                  title: 'song title',
              }
          });

        playlistFetchModel = new PlaylistFetchModel();

        Playlist = Backbone.Collection.extend({model:Track})
        
        playlist = new Playlist();
              var thisView = this;
              playlist.listenTo(playlistFetchModel,"change", function() {
                        var songs = playlistFetchModel.toJSON().response.songs;

                        for (var i = 0; i < songs.length; i++) {
                          var song = songs[i];
                          console.log(song);
                          if (song.tracks.length > 0) {
                            var uri = song.tracks[0].foreign_id.replace('-WW', '');
                            var title = song.title;
                            var artistName = song.artist_name;
                            var track = new Track({uri:uri,title:title,artist_name:artistName});
                            this.add(track);
                          }
                          
                        }
                        thisView.render();
            });

            playlistFetchModel.fetch();

            },
            render: function( event ){
              var tracks = playlist.toJSON();

              tracks.sort(function(a, b){
                if(a.title < b.title) return -1;
                if(a.title > b.title) return 1;
                return 0;
            });

              for (var i=0; i < tracks.length; i++) {
                this.$el
                  .append("<div class='track'><a href='" 
                    + tracks[i].uri 
                    + "'>" 
                    + tracks[i].title 
                    + " (" + tracks[i].artist_name + ")"
                    + "</div>");
              }
                
                $(this.options.container).append(this.$el);
                return this; //recommended as this enables calls to be chained.
            }
            
        });

        
        
      });


        /*$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
           console.log(PlaylistView);
           if ($(e.target).html() == "Playlists") {
            playlistView = new PlaylistView({container:"#playlists2"});
           }
           
        });*/
        $(".playListRadio").on("click",function(e){
          var artist = $(e.target).attr('data-artist');
          playlistView = new PlaylistView({container:"#playlist2",artist:artist,type:"artist-radio"});
        });
    </script>
  </body>
</html>
